# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib60/
parts/
sdist/
var/
wheels/
pip-wheel-metadata/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# PyInstaller
# Usually these files are written by a script go in a dist/ folder.
*.manifest
*.spec

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# In-memory SQLite databases
*.sqlite3-journal

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover
.hypothesis/
.pytest_cache/
cover/

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Spyder project settings
.spyderproject
.spyproject

# Rope project settings
.ropeproject

# mkdocs documentation
/site/

# mypy
.mypy_cache/
.dmypy.json
dmypy.json

# Pyre type checker
.pyre/

# pytype
.pytype/

# IDE specific
.idea/
.vscode/
*.vscode # User specific VS Code settings

# Data files (adjust as needed)
# data/raw/* # Consider if you want to commit small example raw data
data/processed/*
data/outputs/*
# *.gpkg
# *.shp
# *.csv # If large

# OS specific
.DS_Store
Thumbs.db
